- model_class = @exercise.class
%h1=t '.title', :default => model_class.model_name.human

%p
  %strong= model_class.human_attribute_name(:no) + ':'
  %br
  = @exercise.no
%p
  %strong= model_class.human_attribute_name(:short_description) + ':'
  %br
  = @exercise.short_description
%p
  %strong= model_class.human_attribute_name(:long_description) + ':'
  %br
  = @exercise.long_description
%p
  %strong= model_class.human_attribute_name(:operation_id) + ':'
  %br
  = @exercise.operation_id

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), exercises_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_exercise_path(@exercise), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), exercise_path(@exercise), :method => "delete", :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')), :class => 'btn btn-danger'
